<h1>Dicas para ter uma boa saúde financeira</h1>

<div class="flex-container">
    <div>
        <img src="../../assets/render.jpg" alt="">
        <span>Faça seu dinheiro render</span>
    </div>  
    <div>
        <img src="../../assets/decisao.jpg" alt="">
        <span>Compare ofertas</span>
    </div>
    <div>
        <img src="../../assets/metas.jpg" alt="">
        <span>Estipule metas</span>
    </div> 
</div>

<div class="flex-container">
    <div>
        <img src="../../assets/organizacao.jpg" alt="">
        <span>Tenha organização</span>
    </div>
    <div>
        <img src="../../assets/prever.jpg" alt="">
        <span>Preveja os gastos</span>
    </div>
    <div>
        <img src="../../assets/controle.jpg" alt="">
        <span>Controle seu dinheiro</span>
    </div>
    
</div>